 <div class="small-profile mb-4">
    <div class="profile-cover"></div>
    <div class="profile-avatar">
        <img
            src="https://i.pinimg.com/736x/9d/61/39/9d61392cfa6b5d8ae7c89de50f6aa1f9.jpg"
            alt="Profile Picture">
    </div>
    <h4 class="profile-name">Soufian Alj</h4>
    <p class="profile-username">@Salj_</p>

    <div class="profile-stats">
        <div class="stat-item d-flex flex-column">
            <span class="stat-value">2022</span>
            <span class="stat-label">Followers</span>
        </div>
        <div class="stat-item d-flex flex-column">
            <span class="stat-value">590</span>
            <span class="stat-label">Following</span>
        </div>
    </div>
</div>
