<div class="radio-inputs d-flex align-items-center gap-3 mb-4">
  <label class="radio">
    <input type="radio" name="radio" checked>
    <span class="name" routerLink="/admin">Dashboard</span>
  </label>

  <label class="radio">
    <input type="radio" name="radio">
    <span class="name" routerLink="/admin/users">Users</span>
  </label>

  <label class="radio">
    <input type="radio" name="radio">
    <span class="name" routerLink="/admin/posts">Posts</span>
  </label>

  <label class="radio">
    <input type="radio" name="radio">
    <span class="name" routerLink="/admin/reports">Reports</span>
  </label>
</div>
