@tailwind base;
@tailwind components;
@tailwind utilities;

app-login,
app-register {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

app-dashboard {
  min-height: 100vh;
}

body {
  background-image: url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
